{{- $nerdFontsLatest := (gitHubLatestRelease "ryanoasis/nerd-fonts").TagName -}}

{{ $fontPathDict := dict "linux" ".fonts" "darwin" "Library/Fonts"}}
{{ $fontDir := osClean (get $fontPathDict .chezmoi.os) }}

####################### Tmux ############################

[".tmux/plugins/tpm"]
    type = "archive"
    url = "https://github.com/tmux-plugins/tpm/archive/master.tar.gz"
    exact = false
    stripComponents = 1
    refreshPeriod = "168h"

####################### /Tmux ###########################

####################### Java Lsp ########################

[".config/lsp/java/lombok.jar"]
    type = "file"
    url = "https://projectlombok.org/lombok-edge.jar"
    refreshPeriod = "168h"

[".config/lsp/java/eclipse-java-google-style.xml"]
    type = "file"
    url = "https://github.com/google/styleguide/raw/gh-pages/eclipse-java-google-style.xml"
    refreshPeriod = "168h"

####################### /Java Lsp #######################


####################### Alacritty Rose Pine Theme ########################

[".config/alacritty/rose-pine.toml"]
    type = "file"
    url = "https://github.com/rose-pine/alacritty/raw/main/dist/rose-pine.toml"
    refreshPeriod = "168h"

## [".config/alacritty/rose-pine-moon.toml"]
##     type = "file"
##     url = "https://github.com/rose-pine/alacritty/raw/main/dist/rose-pine-moon.toml"
##     refreshPeriod = "168h"

####################### Alacritty Rose Pine Theme  #######################

####################### Oh-My-Zsh #######################
[".oh-my-zsh"]
    type = "archive"
    url = "https://github.com/ohmyzsh/ohmyzsh/archive/master.tar.gz"
    exact = false
    stripComponents = 1
    refreshPeriod = "168h"

[".oh-my-zsh/custom/themes/powerlevel10k"]
    type = "archive"
    url = "https://github.com/romkatv/powerlevel10k/archive/master.tar.gz"
    exact = false
    stripComponents = 1
    refreshPeriod = "168h"

[".oh-my-zsh/custom/plugins/fast-syntax-highlighting"]
    type = "archive"
    url = "https://github.com/zdharma-continuum/fast-syntax-highlighting/archive/master.tar.gz"
    exact = true
    stripComponents = 1
    refreshPeriod = "168h"

[".oh-my-zsh/custom/plugins/zsh-history-substring-search"]
    type = "archive"
    url = "https://github.com/zsh-users/zsh-history-substring-search/archive/master.tar.gz"
    exact = true
    stripComponents = 1
    refreshPeriod = "168h"

[".oh-my-zsh/custom/plugins/zsh-completions"]
    type = "archive"
    url = "https://github.com/zsh-users/zsh-completions/archive/master.tar.gz"
    exact = true
    stripComponents = 1
    refreshPeriod = "168h"

[".oh-my-zsh/custom/plugins/zsh-autosuggestions"]
    type = "archive"
    url = "https://github.com/zsh-users/zsh-autosuggestions/archive/master.tar.gz"
    exact = true
    stripComponents = 1
    refreshPeriod = "168h"

[".oh-my-zsh/custom/plugins/ports"]
    type = "archive"
    url = "https://github.com/caarlos0/ports/archive/master.tar.gz"
    exact = true
    stripComponents = 1
    refreshPeriod = "168h"

[".oh-my-zsh/custom/plugins/mkc"]
	type = "archive"
	url = "https://github.com/caarlos0/zsh-mkc/archive/master.tar.gz"
	exact = true
	stripComponents = 1
	refreshPeriod = "168h"

####################### /Oh-My-Zsh #######################

####################### Fonts #######################
["{{ $fontDir }}/JetBrainsMono"]
	type = "archive"
	url = "https://github.com/ryanoasis/nerd-fonts/releases/download/{{ $nerdFontsLatest }}/JetBrainsMono.zip"
	exact = true
	refreshPeriod = "168h"

["{{ $fontDir }}/FiraCode"]
	type = "archive"
	url = "https://github.com/ryanoasis/nerd-fonts/releases/download/{{ $nerdFontsLatest }}/FiraCode.zip"
	exact = true
	refreshPeriod = "168h"

["{{ $fontDir }}/CascadiaCode"]
	type = "archive"
	url = "https://github.com/ryanoasis/nerd-fonts/releases/download/{{ $nerdFontsLatest }}/CascadiaCode.zip"
	exact = true
	refreshPeriod = "168h"

["{{ $fontDir }}/Meslo"]
	type = "archive"
	url = "https://github.com/ryanoasis/nerd-fonts/releases/download/{{ $nerdFontsLatest }}/Meslo.zip"
	exact = true
	refreshPeriod = "168h"

["{{ $fontDir }}/Iosevka"]
	type = "archive"
	url = "https://github.com/ryanoasis/nerd-fonts/releases/download/{{ $nerdFontsLatest }}/Iosevka.zip"
	exact = true
	refreshPeriod = "168h"

####################### /Fonts #######################
