{{- $full_name := promptStringOnce . "full_name" "Full Name" -}}
{{- $email := promptStringOnce . "email" "Email" -}}
{{- $relative_workspace_dir := promptStringOnce . "relative_workspace_dir" "Workspace directory" -}}

[data]
    full_name = {{ $full_name | quote }}
    email = {{ $email | quote }}
    workspace_dir = {{ osClean (printf "%q" (print .chezmoi.homeDir "/" $relative_workspace_dir)) }}

