export GIT_PAGER='delta'

export DOTFILES="$HOME/.dotfiles"
export WORKSPACE={{ .workspace_dir | quote }}

export EDITOR='vim'

export CLICOLOR=true

autoload -U edit-command-line

HISTFILE=~/.zsh_history
HISTSIZE=100000
SAVEHIST=100000

# History opts
setopt SHARE_HISTORY
setopt EXTENDED_HISTORY
setopt APPEND_HISTORY
setopt INC_APPEND_HISTORY
setopt SHARE_HISTORY
setopt HIST_IGNORE_ALL_DUPS
setopt HIST_REDUCE_BLANKS
setopt HIST_IGNORE_DUPS
setopt HIST_IGNORE_SPACE
setopt HIST_VERIFY
setopt HIST_EXPIRE_DUPS_FIRST

# Other opts
setopt NO_BG_NICE
setopt NO_HUP
setopt NO_BEEP
setopt LOCAL_OPTIONS
setopt LOCAL_TRAPS
setopt PROMPT_SUBST
setopt CORRECT
setopt COMPLETE_IN_WORD

zle -N edit-command-line
